/* estilos globais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d0d0d0;
    color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

p {
    color: #fff;
}

/* estilos do background */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/bg.jpg) no-repeat center center/cover;
    z-index: -2;
}

.background-overlay {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
}

/* conteudo central */
.conteudo {
    text-align: center;
    z-index: 1;
}

.conteudo h1 {
    font-size: 4rem;
    color: #ff6344;
    text-shadow: 2px 2px #000;
}

.conteudo p {
    font-size: 1.6rem;
    margin: 10px 0;
    text-shadow: 2px 2px #000;
}

.leia-mais {
    padding: 10px 20px;
    border: none;
    background-color: #ff6344;
    color: #3d0b0b;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
    font-size: 1.3rem;
    margin-top: 25px;
}

.leia-mais:hover {
    background-color: #fcfafa;
    color: #000;
}

/* Estilos do menu hamburguer */
.menu-hamburguer {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 4;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    position: relative;
    cursor: pointer;
}

.linha {
    height: 4px;
    background-color: #ca1717;
    border-radius: 2px;
    transition: 0.3s;
}

/* Estilos da animação do menu ou overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 0, 0, 0.99);
    z-index: 2;
    transform: scale(0);
    transition: transform 0.3s;
}

/* Estilos do menu */
.menu {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 20px 0;
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 2rem;
    color: #ff6344;
    transition: color 0.3s;
}

.menu a:hover {
    color: #fff;
}

/* Animação */
#menu-toggle:checked+.menu-icon .linha:nth-child(1) {
    transform: rotate(45deg) translate(13px, 13px);
}

#menu-toggle:checked+.menu-icon .linha:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+.menu-icon .linha:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#menu-toggle:checked~.overlay {
    transform: scale(1);
}